<!DOCTYPE html>
<html ng-app>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./style.css">
    <title>IEEEeee!!!</title>
  </head>
  <body>
    <header class="pageHeader">
      <h1>IEEEeee!!!</h1>
      <p>CSSのセレクタとか機能とかがIEのどのバージョンで対応しているかの表を見やすく作ってみる</p>
    </header>
    <section>
      <div ng-controller="ieCtrl" class="container">
        <div class="length">
          <p>キーワードで絞り込み
            <input id="search" type="text" ng-model="query" name="keywords" placeholder="ex. border-radius" autofocus>
          </p>
        </div>
        <table class="table">
          <tr>
            <th>プロパティとか</th>
            <td>IE6</td>
            <td>IE7</td>
            <td>IE8</td>
            <td>IE9</td>
            <td>IE10</td>
            <td>IE11</td>
          </tr>
          <tr ng-repeat="prop in props|orderBy:type|filter:query">
            <th ng-cloak>
              <p class="icon"><span class="type type-{{prop.type}}">{{prop.type}}</span></p>
              <p class="desc"><span class="name">{{prop.name}}</span></p>
            </th>
            <td ng-cloak class="{{prop.ie6}}"><span ng-if="prop.ie6">○</span><span ng-if="!prop.ie6">×</span></td>
            <td ng-cloak class="{{prop.ie7}}"><span ng-if="prop.ie7">○</span><span ng-if="!prop.ie7">×</span></td>
            <td ng-cloak class="{{prop.ie8}}"><span ng-if="prop.ie8">○</span><span ng-if="!prop.ie8">×</span></td>
            <td ng-cloak class="{{prop.ie9}}"><span ng-if="prop.ie9">○</span><span ng-if="!prop.ie9">×</span></td>
            <td ng-cloak class="{{prop.ie10}}"><span ng-if="prop.ie10">○</span><span ng-if="!prop.ie10">×</span></td>
            <td ng-cloak class="{{prop.ie11}}"><span ng-if="prop.ie11">○</span><span ng-if="!prop.ie11">×</span></td>
          </tr>
        </table>
      </div>
    </section>
    <footer class="pageFooter">
      <p class="copyright">Created by <a href="http://anticyb.org/" target="_blank">muyuu</a></p>
    </footer>
    <script src="./libs/labjs/LAB.min.js"></script>
    <script>
      $LAB
      .script("./libs/angular/angular.js").wait()
      .script("./app.js");
      
    </script>
  </body>
</html>